<h2>Contact</h2>

<form (submit)="print('sumbited form')">
  <label for="name">Enter Name:</label>
  <br />
  <input required minlength="6" ngModel name="name" #name="ngModel" (input)="print(name)" type="text" id="name" />
  <div *ngIf="name.touched && name.errors != null">
    <div *ngIf="name.errors.required">
      <br/>
      <label style="color:red">EROOR: Required</label>
    </div>
    <br />
    <div *ngIf="name.errors.minlength">
      <br/>
      <label style="color:red">EROOR: Minimum length 6</label>
    </div>
  </div>
  <br />
  <label for="phone">Enter Phone:</label>
  <br />
  <input ngModel name="phone" type="text" id="phone" />
  <br />
  <input type="submit" value="submit" />
</form>

