.chalengeContainer {
	width: 500px;
}

.textDisplay {
	position: inherit;
	width: 100%;
	background-color: beige;
	font-size: 18px;
	font-weight: bold;
	overflow: hidden;
}

.textDisplay ul {
	height: 20px;
	padding: 13px;
	overflow: hidden;
}

.textDisplay li {
	overflow: hidden;
	height: 30px;
}

.textDisplay li {
	float: left;
	display: block;
	list-style: none;
	margin-right: 3px;
}

.inputArea {
	width: 99%;
	
}