<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mainnu.alarmduino">
    <service
        android:name="AlarmduinoService"
        android:icon="@drawable/icon"
        android:label="@string/service_name">
    </service>



</manifest>